<%- include('../../views/admin/adminHeader') %>
<div class="col-sm-8">
    <div class="content p-5">
   <h1>
    trainers
   </h1>
    </div>
</div>
<%- include('../../views/admin/adminFooter.ejs') %>